{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 *
 * @see template_preprocess_views_style_views_organization_chart()
 */
#}
<figure class="highcharts-figure">
  <div id="{{ chart_id }}" class="views-view-organization w-100"></div>
  {% if description %}
  <p class="highcharts-description">{{ description }}</p>
  {% endif %}
</figure>
